* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  padding: 10px 10px 12px 10px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

body {
  background-color: #b687d1;
}

.test-modal {
  background-color: #faf;
  height: 400px;
  width: 400px;
}

.header-wrapper {
  padding: 0px 20px 0px 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #5176bb;
}

.header {
  height: 100%;
  width: 100%;
  font-family: Glory;
  color: #fff;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__title-mobile {
  display: none;
}

@media (max-width: 520px) {
  .header__title-pc {
    display: none;
  }
  .header__title-mobile {
    display: block;
  }
}

.header__logo {
  width: 175px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 0px 0px 25px;
}

.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 730px) {
  .header__logo {
    display: none;
  }
}

.header__search {
  margin: 0px 0px 0px 25px;
  width: 100%;
  max-width: 380px;
  min-width: 200px;
}

.header__search > input {
  color: #fff;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

.header__menu {
  display: none;
}

.cards-wrapper {
  margin: 60px 0px 0px 0px;
}

.cards {
  background-color: #b687d1;
}

.cards-list {
  padding: 0px 20px 0px 20px;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(200px, 415px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 415px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Glory;
}

.cards-list.disable {
  display: none;
}

@media (max-width: 450px) {
  .cards-list {
    padding: 10px;
    display: block;
  }
}

.cards-list__turn-section {
  cursor: pointer;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 40px;
  height: 40px;
  margin: 0px 0px 10px 0px;
}

.cards-list__content-section {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  padding: 50px 50px 0px 50px;
  margin: 0px 0px 100px 0px;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(200px, 415px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 415px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 550px) {
  .cards-list__content-section {
    padding: 0;
  }
}

.cards-list .section-open-icon {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.cards-list .section-items {
  border-top: 1px solid #5176bb;
}

.cards-list .section-items:first-child {
  border-top: none;
}

.cards-list .section-items.disable .cards-list__turn-section > .section-open-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cards-list .section-items.disable .cards-list__content-section {
  display: none;
}

.cards-list__item {
  border: 2px solid #779b9e;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  min-height: 575px;
  text-align: left;
}

@media (max-width: 550px) {
  .cards-list__item {
    padding: 10px;
  }
}

.cards-list__item.character-item {
  min-height: 500px;
}

.cards-list__item.character-item .cards-list__title {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 22px;
}

.cards-list__item.character-item .cards-list__button-area {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-list__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-list__title {
  margin: 20px 0px 0px 0px;
  font-weight: 600;
  font-size: 18px;
}

.cards-list__description {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards-list__button-area {
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
}

.cards-list__button {
  font-size: 18px;
  background-color: #b687d1;
  color: #fff;
  padding: 7px 14px;
}

.cards-list__button:hover {
  background-color: #a97ac4;
}

.cards-list__episode {
  text-align: left;
  margin: 0px 0px 20px 0px;
}

.cards-list__air-date {
  text-align: right;
}

.cards__filter {
  font-size: 18px;
  padding: 10px 0px 60px 0px;
}

.cards__filter-themes {
  padding: 0px 0px 0px 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #fff;
  min-height: 50px;
}

.cards__filter-content + .cards__filter-content {
  margin-left: 30px;
}

.cards__filter-content {
  position: relative;
  background-color: #5176bb;
  border: 1px solid #000;
  overflow: hidden;
}

.cards__filter-content.active .cards__filter-list {
  display: block;
}

.cards__filter-content.active #key-list-area .material-icons {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cards__filter-list {
  position: relative;
  display: none;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
  cursor: pointer;
}

.cards__filter #key-list-area {
  background-color: #6d8cc4;
  position: relative;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__filter #key-list-area > .material-icons {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.cards__filter-item {
  padding: 10px;
  cursor: pointer;
}

.cards__filter-item:hover {
  background-color: #6d8cc4;
}

.cards__loader {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__loader.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.character-modal {
  background-color: #fff;
  border: 2px solid #779b9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  font-size: 18px;
  font-family: Glory;
}

.character-modal__image-area {
  margin: 0px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character-modal__image-area-name {
  font-size: 24px;
  margin: 10px 0px 10px 0px;
  line-height: 25px;
  font-weight: 500;
}

.character-modal__image-area-img {
  width: 100%;
  max-width: 300px;
}

.character-modal__image-area-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.character-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 0px 0px 0px;
}

.character-modal__info-item + .character-modal__info-item {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */