//Обнуляющий список
@import 'null_styles'; 

$contSize: 1050px;
$mainClr: rgb(81, 118, 187);
$mainClr-hover: rgb(109, 140, 196);
$borderCardsClr: rgb(119, 155, 158);
// $listBg: rgb(158, 123, 179);
$listBg: rgb(182, 135, 209);
$listBg-hover: rgb(169, 122, 196);
$mainFF: Glory;
$itemFF: ('Noto Sans JP', sans-serif);

input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.300); }

body {
   background-color: $listBg;
}
.test-modal {
   background-color: #faf;
   height: 400px;
   width: 400px;
}

.container {
   // margin: 0 auto;
   // width: 100%;
   // max-width: $contSize;
   // padding: 0px 20px 0px 20px;
}

.header-wrapper {
   padding: 0px 20px 0px 20px;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 60px;
   width: 100%;
   background-color: $mainClr;
}
.header {
   height: 100%;
   width: 100%;
   font-family: $mainFF;
   color: #fff;
   font-size: 26px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   &__title {
      flex: 0 0 auto;
      cursor: pointer;

      &-pc {
         
      }
      &-mobile {
         display: none;
      }

      @media(max-width: 520px) {
         &-pc {
            display: none;
         }
         &-mobile {
            display: block;
         }
      }
   }

   &__logo {
      width: 175px;
      flex: 0 0 auto;
      margin: 0px 0px 0px 25px;
      
      > img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media(max-width: 730px) {
         display: none;

         > img {
         }
      }
   }

   &__search {
      margin: 0px 0px 0px 25px;
      width: 100%;
      max-width: 380px;
      min-width: 200px;
      display: flex;


      > input {
         color: #fff;
         height: 40px;
         width: 100%;
         background-color: rgba(255, 255, 255, 0.150);
         // border-radius: 5px;
      }

      > button {
         background-color: rgba(255, 255, 255, 0.150);
         padding: 0 7px;

         > span {
            color: #fff;
            opacity: 0.750;
         }
      }
   }

   &__menu {
      display: none;
   }

   &__sections {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 20px;

      &-title {
         display: flex;
         align-items: center;
         cursor: pointer;
         height: 60%;
         padding: 0px 20px 0px 20px;

         &:hover {
            background-color: rgba(255, 255, 255, 0.075);
         }
      }
   }
}


.cards-wrapper {
   padding: 60px 0px 0px 0px;
}
.cards {
   background-color: $listBg;
   
   &-list {
      position: relative;
      padding: 0px 20px 0px 20px;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 415px));
      justify-content: center;
      font-family: $mainFF;

      &.disable {
         display: none;
      }

      @media(max-width:450px) {
         padding: 10px;
         display: block;
      }

      &__turn-section {
         cursor: pointer;
         color: #fff;
         align-self: start;
         display: flex;
         align-items: center;
         padding: 0px 0px 0px 40px;
         height: 40px;
         margin: 0px 0px 10px 0px;
      }
      
      &__content-section {
         transition: all .5s ease;
         width: 100%;
         padding: 50px 50px 0px 50px;
         margin: 0px 0px 100px 0px;
         display: grid;
         gap: 30px;
         grid-template-columns: repeat(auto-fill, minmax(200px, 415px));
         justify-content: center;

         @media(max-width: 550px) {
            padding: 0;
         }
      }

      .section-open-icon {
         transition: transform .5s ease;
         transform: rotate(0);
      }
      
      .section-items {
         border-top: 1px solid $mainClr;

         &:first-child {
            border-top: none;
         }

         &.disable {

            .cards-list__turn-section {
               
               > .section-open-icon {
                  transform: rotate(90deg);
               }
            }

            .cards-list__content-section {
               display: none;
            }
         }
      }

      &__item {
         position: relative;
         border: 2px solid $borderCardsClr;
         background-color: #fff;
         border-radius: 10px;
         padding: 25px;
         line-height: 22px;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         font-family: $itemFF;
         font-weight: 300;
         min-height: 575px;
         text-align: left;
         
         @media(max-width:550px) {
            padding: 10px;
         }

         &.character-item {
            min-height: 500px;

            .cards-list {
               
               &__title {
                  background-color: #fff;
                  flex: 1 1 auto;
                  font-size: 22px;
               }

               &__button-area {
                  justify-content: center;
               }
            }
         }
      }

      &__logo {

         > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &__title {
         margin: 20px 0px 0px 0px;
         font-weight: 600;
         font-size: 18px;
      }

      &__description {
         margin: 30px 0px 0px 0px;
         display: flex;
         width: 100%;
         justify-content: space-between;
         flex: 1 1 auto;
      }

      &__button-area {
         position: relative;
         width: 100%;
         margin: 20px 0px 0px 0px;
         display: flex;
         justify-content: space-between;
         font-size: 14px;
         line-height: 20px;
      }

      &__button {
         font-size: 18px;
         background-color: $listBg;
         color: #fff;
         padding: 7px 14px;

         &:hover {
            background-color: $listBg-hover;
         }
      }

      &__episode {
         text-align: left;
         margin: 0px 0px 20px 0px;
      }

      &__air-date {
         text-align: right;
      }
      
      &__favorites {
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         cursor: pointer;
         
         &:hover {

            span {
               transform: translateY(-3px);
            }
         }

         span {
            transition: transform .3s ease;
            display: none;
         }

         .icon-default {
            
         }

         .icon-active {
            color: rgb(127, 178, 245);
         }

         span.active {
            display: block;
         }
      }
   } 
   
   &__filter-area {

   }

   &__filter {
      font-size: 18px;
      // border: 2px solid #000;
      padding: 10px 0px 60px 0px;


      &-themes {
         padding: 0px 0px 0px 77px;
         display: flex;
         align-items: start;
         color: #fff;
         min-height: 50px;
      }
      
      &-content + &-content {
         margin-left: 30px;
      }
      
      &-content {
         position: relative;
         background-color: $mainClr;
         // border: 1px solid rgb(255, 255, 255);  
         overflow: hidden;
         // min-width: 300px;

         &.active {

            .cards__filter-list {
               display: block;
            }

            #key-list-area {

               .material-icons {
                  transform: rotate(-90deg);   
               }
            }

            // opacity: 1;

            
         }
      }

      &-list {
         position: relative;
         display: none;
         transition: top .5s ease;
         cursor: pointer;
         max-height: 380px;
         overflow: auto;
      }

      #key-list-area {
         background-color: $mainClr-hover;
         position: relative;
         z-index: 5;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         
         > .material-icons {
            transform: rotate(0); 
            transition: transform .25s ease;
         }
      }

      &-item {
         padding: 10px;
         cursor: pointer; 

         &-title {}

         &:hover {
            background-color: $mainClr-hover;
         }
      }

   }

   &__loader {
      width: 100%;
      display: none;
      justify-content: center;


      &.active {
         display: flex;
      }
      
      &-img {

         > img {

         }
      }
   }

   &__favorites-area {
      display: none;
      margin: 20px 0px 75px 0px;
      font-size: 26px;
      color: #fff;
      text-transform: uppercase;
      
      p {
         text-align: center;
      }
   }
}

.favorites-wrapper {
}
.favorites {


   &__notif {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 300px;
      padding: 10px;
      visibility: hidden;
      opacity: 0;
      transition: all .35s ease;
      background-color: rgb(198, 235, 167);

      &.active {
         visibility: visible;
         opacity: 1;
      }
      
      &-btn {
         position: absolute;
         top: 0;
         right: 0;
         
         > button {
            background-color: transparent;
            
            > span {
               background-color: transparent;
            }
         }
      }

      &-text {
         
      }
   }

}


.character-modal {
   background-color: #fff;
   border: 2px solid $borderCardsClr;
   display: flex;
   padding: 30px;
   width: 100%;
   max-width: 600px;
   font-size: 18px;
   font-family: $mainFF;


   &__image-area {
      margin: 0px 30px 0px 0px;
      // border: 2px solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__image-area-name {
      font-size: 24px;
      margin: 10px 0px 10px 0px;
      line-height: 25px;
      font-weight: 500;
   }

   &__image-area-img {
      width: 100%;
      max-width: 300px;
      
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      // border: 2px solid #000;
      display: flex;
      flex-direction: column;
      padding: 45px 0px 0px 0px;
   }

   &__info-item {

      & + & {
         margin-top: 10px;
      }
   }

}
